@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0px;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul {
    font-family: 'Courier Prime', monospace;
}

.flexThisBox {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: rgb(59,59,59);
    color: whitesmoke;
    height: 10vh;
    padding: 1em;
}

a {
    color:whitesmoke;
}

.full-height{
    min-height: 100vh;
}

.two-thirds-height {
    min-height: 77vh;
}

.mission{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

.kale-transparent{
    background-color: rgb(97, 119, 79, 0.6);
    color: whitesmoke;
}

.kale{
    background-color: rgb(97, 119, 79);
    color: whitesmoke;
}

.violet{
    background-color: rgb(191, 155, 222, 0.6);
}